@{
    ViewData["Title"] = "Home Page";
}

<div class="w-100 overflow-hidden bg-gray-100" id="top">

    <div class="container ">
        <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left" style="background-image: url(img/webp/interior11.webp);">
        </div>
        <div class="row">

            <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
                <h1 class="display-3 fw-bold mt-5">Sell more useless stuff faster!</h1>
                <p class="lead">To be honest, this is just a stupid placeholder text. We don´t know how to sell anything, not even lesser or slower as you.</p>
                <a href="#" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">Get started free</a>
            </div>



        </div>
    </div>

</div>
